
.products {
  float:left;
  margin:0;
  padding: 10px;
}

.product_card {
  display: flex;
  border: 1px solid black;
  margin:5px;
}
.cart {
  margin: 0;
  padding: 10px;
  border-left:1px solid black;
}
.side_bar {
  float: right;
}
